.header {
    height: var(--header-heigh);
    background-image: linear-gradient(0, #fe6433, #f53e2d);

    .grid {
        .header__navbar {
            display: flex;
            justify-content: space-between;
            height: var(--header__navbar-heigh);

            .header__navbar-list {
                list-style: none;
                padding-left: 0;
                margin: 4px 0 0 0;


                .header__navbar-item {
                    display: inline-block;
                    font-size: 1.5rem;
                    color: var(--white-color);
                    margin: 0 8px;
                    position: relative;
                    align-items: center;
                    min-height: 18px;

                    .header__navbar-title--no-pointer {
                        cursor: text;
                        color: var(--white-color);
                    }

                    .header__navbar-item-link {
                        font-weight: 300;
                        text-decoration: none;
                        color: var(--white-color);

                        .header__navbar-icon-link {
                            font-size: 1.8rem;
                            margin: 0 4px;
                        }
                    }

                    .header__navbar-item-link:hover {
                        color: rgba(255, 255, 255, 0.7);
                        cursor: pointer;
                    }
                }

                .header__navbar-item:hover {
                    color: rgba(255, 255, 255, 0.7);
                    cursor: pointer;

                    .header__qr {
                        display: block;
                    }
                }

                // User connected
                .header__navbar-user {

                    .header__navbar-user--img {
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        position: absolute;
                        top: -2px;
                        left: -1px;
                    }

                    .header__navbar-user--username {
                        margin-left: 25px;
                        font-size: 1.5rem;
                        font-weight: 400;
                    }

                    .header__navbar-user--menu {
                        position: absolute;
                        width: 155px;
                        top: 24px;
                        left: -42px;
                        border-radius: 2px;
                        z-index: 2;
                        padding: 0;
                        margin: 0;
                        background-color: var(--white-color);
                        transform-origin: calc(100% - 20px) top;
                        animation: grow ease-in 0.2s;
                        display: none;

                        .header__navbar-user--option {
                            list-style: none;

                            padding: 8px;

                            .header__navbar-user-link {
                                font-size: 1.6rem;
                                color: var(--text-color);
                                text-decoration: none;
                                margin-left: 8px;
                            }
                        }

                        .header__navbar-user--option:after {
                            content: "";
                            border-width: 12px 15px;
                            border-style: solid;
                            border-color: transparent transparent var(--white-color) transparent;
                            position: absolute;
                            right: 29px;
                            top: -20px;
                            z-index: 1;
                        }

                        .header__navbar-user--option:before {
                            content: "";
                            position: absolute;
                            right: 0px;
                            top: -14px;
                            width: 114px;
                            height: 15px;

                        }

                        .header__navbar-user--option:first-child {
                            border-top-left-radius: 2px;
                            border-top-right-radius: 2px;
                            z-index: 2;
                        }

                        .header__navbar-user--option:last-child {
                            border-bottom-left-radius: 2px;
                            border-bottom-right-radius: 2px;
                        }
                    }

                    .header__navbar-user--option:hover {
                        background-color: #f5f2f2;

                        .header__navbar-user-link {
                            color: #45e1f1;
                        }
                    }
                }

                .header__navbar-user:hover {
                    .header__navbar-user--menu {
                        display: block;
                    }
                }

                //end of user connected

                .header__navbar-item--show-noti:hover {
                    .header__notify {
                        display: block;
                    }
                }


                .header__navbar-item--strong {
                    font-weight: 400;
                }

                .header__navbar-item--separate::after {
                    content: "";
                    display: block;
                    position: absolute;
                    border-left: 1px solid #FB9086;
                    height: 16px;
                    top: 50%;
                    right: -9px;
                    transform: translateY(-50%);
                }
            }
        }

        // code search
        .header-with-search {
            height: var(--header__search);
            display: flex;
            align-items: center;
            margin: 0 8px;

            .header__logo {
                width: 200px;

                .header__logo-img {
                    width: 150px;
                }
            }

            .header__search {
                background-color: var(--white-color);
                height: 40px;
                border-radius: 2px;
                flex: 1;
                display: flex;
                align-items: center;

                .header__search-wrap {
                    flex: 1;
                    height: 100%;
                    position: relative;

                    .header__search-input {
                        width: 100%;
                        height: 100%;
                        border: none;
                        outline: none;
                        font-size: 1.5rem;
                        padding: 0 16px;
                        cursor: text;
                        border-radius: 2px;
                    }

                    // Search history
                    .header__search-history {
                        position: absolute;
                        top: calc(100% + 2px);
                        left: 0;
                        width: calc(100% - 20px);
                        border-radius: 2px;
                        background-color: var(--white-color);
                        box-shadow: 0 1px 5px #999;
                        z-index: 1;

                        display: none;

                        .header__search-history--heading {
                            padding: 0;
                            margin: 6px 15px;
                            font-size: 1.4rem;
                            color: rgb(133, 133, 133);
                            font-weight: 400;
                        }

                        .header__search-history--list {
                            padding-left: 0;
                            list-style: none;
                            margin: 6px 0 0;

                            .header__search-history--item {
                                height: 38px;
                                padding: 0 15px;
                                align-items: center;
                            }

                            .header__search-history--item:hover {
                                background-color: #fafafa;
                            }

                            .header__search-history--item:last-child {
                                border-bottom-right-radius: 2px;
                                border-bottom-left-radius: 2px;
                            }

                            .header__search-history--item a {
                                text-decoration: none;
                                font-size: 1.2rem;
                                color: var(--text-color);
                                line-height: 38px;
                                display: block;
                            }
                        }
                    }
                } 
                    .header__search-history-show{
                        display: block;
                    }
                

                .header__search-selection {
                    display: flex;
                    border-left: 1px solid #E8E8E8;
                    font-size: 1.4rem;
                    padding-left: 16px;
                    position: relative;
                    cursor: pointer;
                    z-index: 1;

                    .header__search-selection--label {
                        color: var(--text-color);
                    }

                    .header__search-selection--icon {
                        color: #4A4A4A;
                        margin: 0 10px 0 8px;
                        font-weight: 300;
                    }

                    .header__search-option {
                        position: absolute;
                        right: 0;
                        top: 100%;
                        width: 113px;
                        box-shadow: 0 1px 2px #ccc;
                        padding-left: 0;
                        border-radius: 2px;
                        animation: fadein 0.3s;
                        display: none;

                        .header__search-option--item {
                            background-color: var(--white-color);
                            list-style: none;
                            display: flex;
                            padding: 8px;
                        }

                        .header__search-option--item:first-child {
                            border-top-left-radius: 2px;
                            border-top-right-radius: 2px;
                        }

                        .header__search-option--item:last-child {
                            border-bottom-left-radius: 2px;
                            border-bottom-right-radius: 2px;
                        }

                        .header__search-option--item:hover {
                            cursor: pointer;
                            background-color: #e6e6e6;
                        }

                        .header__search-option--item span {
                            font-size: 1.4rem;
                            color: var(--text-color);
                            margin-left: 4px;

                        }

                        .header__search-option--item i {
                            font-size: 1.2rem;
                            color: var(--primary-color);
                            margin-left: 12px;
                            display: none;
                        }

                        .header__search-option--item-active i {
                            display: inline-block;
                        }
                    }

                    .header__search-option::after {
                        content: "";
                        display: block;
                        width: 100%;
                        height: 20px;
                        top: -19px;
                        left: 0;
                        position: absolute;
                    }
                }

                .header__search-selection:hover {
                    .header__search-option {
                        display: block;
                    }
                }

                .header__search-btn {
                    width: 60px;
                    height: 30px;
                    background-color: var(--primary-color);
                    border-radius: 2px;
                    outline: none;
                    border: none;
                    margin-right: 5px;

                    .header__search-btn--icon {
                        color: var(--white-color);
                        font-size: 1.4rem;
                    }
                }

                .header__search-btn:hover {
                    background-color: #fb6445;
                    cursor: pointer;
                }
            }

            .header__cart {
                width: 150px;
                font-size: 3rem;
                text-align: center;
                z-index: 1;

                .header__cart-wrap {
                    position: relative;
                    display: inline-block;
                    padding: 0 8px;
                    cursor: pointer;

                    .header__cart-icon {
                        color: var(--white-color);
                    }

                    .header__cart-list {
                        position: absolute;
                        top: calc(100% + 4px);
                        right: -2px;
                        background-color: var(--white-color);
                        width: 380px;
                        border-radius: 2px;
                        box-shadow: 0 2px 10px #ccc;
                        display: none;
                        animation: fadein ease-in 0.3s;
                        cursor: default;

                        .header__cart-nocart-img {
                            width: 50%;
                        }

                        .header__cart-list--nocart-sms {
                            font-size: 1.4rem;
                            margin-top: 12px;
                            color: var(--text-color);
                        }
                    }

                    .header__cart-list::after {
                        content: "";
                        position: absolute;
                        right: 2px;
                        top: -30px;
                        border-width: 19px 20px;
                        border-style: solid;
                        border-color: transparent transparent var(--white-color) transparent;
                    }

                    .header__cart-list--nocart {
                        padding: 20px 0;
                    }
                }

                .header__cart-wrap:hover {
                    .header__cart-list {
                        display: block;
                    }
                }

            }

        }
    }
}

// /* QR code ---- code show in line 52*/
.header__qr {
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 130%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadein ease-in 0.5s;
    z-index: 1;

    .header__qr-img {
        width: 100%;
    }

    .header__qr-apps {
        display: flex;
        justify-content: space-between;
    }

    .header__qr-link:nth-child(1) {
        margin-left: 11px;
    }

    .header__qr-link:nth-child(2) {
        margin-right: 11px;
    }

    .header__qr-download-img {
        height: 14px;
    }
}

.header__qr::before {
    content: "";
    position: absolute;
    height: 18%;
    width: 100%;
    display: block;
    left: 0;
    top: -16px;

}

/* Notification ---- code show in line 58 */
.header__notify {
    display: none;
    position: absolute;
    top: 125%;
    right: 0;
    width: 404px;
    border: 1px solid #D3D3D3;
    background-color: var(--white-color);
    transform-origin: calc(100% - 20px) top;
    animation: grow ease-in 0.2s;
    z-index: 2;
    border-radius: 2px;
    .header__notify-header {
        height: 40px;
        background-color: var(--white-color);
        cursor: default;


    }

    .header__notify-header h3 {
        color: #999;
        margin: 0 0 0 12px;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 40px;
        user-select: none;

    }

    .header__notify-list {
        padding-left: 0;

        .header__notify-item {
            display: flex;

            .header__notify-link {
                display: flex;
                padding: 12px;
                width: 100%;
                text-decoration: none;


                .header__notify-img {
                    width: 48px;
                    object-fit: contain;
                }

                .header__notify-info {
                    margin-left: 12px;

                    .header__notify-name {
                        display: block;
                        font-size: 1.4rem;
                        color: var(--text-color);
                        font-weight: 400;
                        line-height: 1.8rem;
                    }

                    .header__notify-description {
                        display: block;
                        font-size: 1.2rem;
                        color: #756F6E;
                        line-height: 1.6rem;
                        margin-top: 4px;
                    }
                }
            }
        }

        .header__notify-item--viewed {
            background-color: rgba(238, 75, 43, 0.08);
        }

        .header__notify-item:hover {
            background-color: #f7f7f7;
        }
    }

    .header__notify-footer {
        text-align: center;
        display: flex;


        .header__notify-footer-btn {
            text-decoration: none;
            color: var(--text-color);
            width: 100%;
            padding: 8px 0;
            margin: auto;
            font-size: 1.4rem;
            font-weight: 400;
        }
    }
}

.header__notify::before {
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 6px;
    top: -27px;
}

.header__notify::after {
    content: "";
    position: absolute;
    right: 0;
    top: -19px;
    width: 91px;
    height: 23px;
    display: block;
}

/* Authenticate */
.auth-form {
    width: 400px;
    background-color: var(--white-color);
    overflow: hidden;
    border-radius: 5px;

    .auth-form__container {
        padding: 0 32px;

        .auth-form__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 8px;
            margin-top: 8px;

            .auth-form__heading {
                font-weight: 400;
                font-size: 2.2rem;
                color: var(--text-color);
            }

            .auth-form__switch-btn {
                font-size: 1.6rem;
                color: var(--primary-color);
                font-weight: 400;
                cursor: pointer;
            }
        }

        .auth-form__form {

            .auth-form__group {

                .auth-form__input {
                    height: 40px;
                    width: 100%;
                    margin-top: 16px;
                    padding: 0 12px;
                    font-size: 1.4rem;
                    border: 1px solid var(--border-color);
                    border-radius: 2px;
                    outline: none;
                }

                .auth-form__input:focus {
                    border-color: #777;
                }
            }
        }
    }

    .auth-form__aside {
        margin-top: 18px;

        .auth-form__policy-text {
            font-size: 1.2rem;
            color: var(--text-color);
            text-align: center;
            line-height: 1.5rem;
            padding: 0 6px;

            .auth-form__text-link {
                text-decoration: none;
                color: var(--primary-color);
            }
        }

        .auth-form__help {
            display: flex;
            justify-content: flex-end;

            .auth-form__help-link {
                text-decoration: none;
                font-size: 1.4rem;
                color: #939393;
            }

            .auth-form__help-separate {
                display: block;
                border-left: 1px solid #EAEAEA;
                height: 18px;
                margin: 0 14px;
            }

            .auth-form__help-miss {
                color: var(--primary-color);
            }
        }
    }

    .auth-form__controls {
        margin-top: 50px;
        display: flex;
        justify-content: center;

        .auth-form__controls-back {
            margin-right: 8px;
        }
    }

    .auth-form__socials {
        background-color: #f5f5f5;
        padding: 16px 33px;
        display: flex;
        justify-content: space-between;
        margin-top: 16px;

        .btn--with-icon {

            .auth-form__socials-icon {
                font-size: 1.8rem;
            }

        }

        .auth-form__socials--fb {
            background-color: #3a5a98;
            color: var(--white-color);
        }

        .auth-form__socials--fb.auth-form__socials-icon {
            color: var(--white-color);
        }

        .auth-form__socials--gg {
            background-color: var(--white-color);
        }

        .auth-form__socials--title {
            margin: 0 10px;
        }

    }
}

// Content
.app__container {
    position: relative;
    background-color: #f5f5f5;
    z-index: 0;

    .app__content {
        padding-top: 28px;
    }

    // background-img
    .just-for-background {
        width: 100%;
        top: 0px;
        position: absolute;
        background: url("https://cf.shopee.vn/file/88c1aa5d90d930800ef8eab1feed84a0") center top/100% no-repeat;
        left: -1px;
        height: 68px;
        z-index: -1;
    }

    .category {
        background-color: var(--white-color);
        border-radius: 2px;

        .category-heading {
            font-size: 1.6rem;
            color: var(--text-color);
            padding: 12px 10px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
            margin-bottom: 0;
            margin-top: 0;

            .category-heading-icon {
                font-size: 1.4rem;
                margin-right: 4px;
            }
        }

        .category-list {
            padding: 0 0 8px 0;
            margin-left: 6px;

            .category-item {
                list-style: none;
                font-size: 1.4rem;

                .category-item__link {
                    text-decoration: none;
                    color: var(--text-color);
                    padding: 8px 10px;
                    display: block;
                    position: relative;
                    right: 0;
                    transition: right linear 0.3s;
                }

                .category-item__link:hover {
                    color: var(--primary-color);
                    right: -5px;
                }
            }

            .category-item--active {

                .category-item__link {
                    color: var(--primary-color);
                }

                .category-item__link::before {
                    position: absolute;
                    top: 50%;
                    transform: translateY(calc(-50% - 1px));
                    left: 4px;
                    content: "";
                    border: 4px solid;
                    border-color: transparent transparent transparent var(--primary-color);

                }
            }
        }
    }

    // Home filter
    .grid__colum-10 {

        .home-filter {
            background-color: rgba(0, 0, 0, 0.03);
            height: 60px;
            display: flex;
            align-items: center;
            padding: 12px 22px;
            border-radius: 2px;


            .home-filter__title {
                color: #6b6b6b;
                font-size: 1.4rem;
                margin-right: 16px;
            }

            .home-filter__btn {
                margin-right: 12px;
                min-width: 90px;
            }

            .home-filter__page {
                display: flex;
                align-items: center;
                margin-left: auto;

                .home-filter__page-num {
                    font-size: 1.4rem;
                    color: var(--text-color);
                    margin-right: 22px;

                    .home-filter__page-current {
                        color: var(--primary-color);
                    }
                }

                .home-filter__page-control {
                    border-radius: 2px;
                    overflow: hidden;
                    display: flex;
                    width: 72px;
                    height: 36px;

                    .home-filter__page-btn {
                        flex: 1;
                        display: flex;
                        background-color: var(--white-color);
                        text-decoration: none;
                        color: #555;
                        font-size: 1.3rem;

                        .home-filter__page-btn--icon {
                            margin: auto;
                        }
                    }

                    .home-filter__page-btn:first-child {
                        border-right: 1px solid #eee;
                    }

                    .home-filter__page-btn--active {
                        background-color: #f9f9f9;
                        cursor: default;

                        .home-filter__page-btn--icon {
                            color: #ccc;
                        }
                    }
                }
            }

        }
        // Product
    .home-product{
        margin-bottom: 10px;
    }
        .home-product-item{
            position: relative;
            background-color: var(--white-color);
            border-bottom-right-radius: 2px;
            border-bottom-left-radius: 2px;
            box-shadow: 0 0.0625rem 0.125rem 0 rgba(0,0,0,0.1);
            animation: transform linear 1s;
            will-change: transform;
            text-decoration: none;
            display: block;

            .home-product-item__img{
                padding-top: 100%;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                margin-top: 10px;
            }
            .home-product-item__name{
                font-size: 1.4rem;
                line-height: 1.6rem;
                font-weight: 300;
                color: var(--text-color);
                margin: 10px;
                height: 32px;
                overflow: hidden;
                display: block;
                display: -webkit-box;
                -webkit-box-orient:vertical;
                -webkit-line-clamp:2;
            }
            .home-product-item__price{
                    display: flex;
                    
                    align-items: baseline;
                    flex-wrap: wrap;

                .home-product-item__price-old{
                    font-size: 1.2rem;
                    color: #666;
                    text-decoration: line-through;
                    margin-left: 10px;
                }

                .home-product-item__price-now{
                    font-size: 1.4rem;
                    color: var(--primary-color);
                    margin-left: 10px;
                }

            }

            .home-product-item__action{
                display: flex;
                margin: 10px;
                justify-content: space-between;
                font-size: 1.2rem;

                .home-product-item__like{
                    .home-product-item__like-icon-not{

                    }
                    .home-product-item__like-icon-not{
                         display: none;
                        .home-product-item__like-icon-ok{
                            display: block;
                            color: var(--primary-color);
                        }
                    }
                    .home-product-item__like-icon-ok{
                        display: block;
                        color: var(--primary-color);
                    }
                    .home-product-item__like-icon-ok{
                        display: block;
                        .home-product-item__like-icon-not{
                            display: none;
                        }
                    }
                }
                .home-product-item__rate{
                    font-size: 1rem;
                    color: #d5d5d5;
                    margin-left: auto;

                    .home-product-item__rate--gold{
                        color: #ffce3d;
                    }
                }
                .home-product-item__sold{
                    font-size: 1.2rem;
                    color:var(--text-color);
                    padding-left: 4px;
                }
            }

            .home-product-item__origin{
                display: flex;
                justify-content: space-between;
                padding: 0 10px 12px 10px;
                font-size: 1.2rem;
                color: var(--text-color);

                .home-product-item__branch{

                }
                .home-product-item__origin-name{

                }
            }
            .home-product-item__favor{
                position: absolute;
                top: 10px;
                left: -4px;
                background-color: var(--primary-color);
                color: var(--primary-color);
                font-size: 1.2rem;
                padding: 2px;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                padding-right: 4px;
            }
            .home-product-item__favor i{
                font-size: 0.9rem;
                margin: 0 3px 0 4px;
                color: var(--white-color);
            }
            .home-product-item__favor::after{
                content: "";
                bottom: -5px;
                left: 0;
                border-top: 5px solid currentColor;
                filter: brightness(60%);
                border-left: 5px solid transparent;
                position: absolute;

            }
             .home-product-item__favor span{
                color: var(--white-color);
             }

            .home-product-item__sale-off{
                position: absolute;
                top: 0;
                right: 0;
                background-color: #f4cc27;
                padding: 6px 4px;
                text-align: center;
                font-size: 1.1rem;
                font-weight: 800;
                width: 40px;
                height: 36px;

                .home-product-item__sale-off-percent{
                    color: var(--primary-color);
                }
                .home-product-item__sale-off-label{
                    color: var(--white-color);
                }
            }
            .home-product-item__sale-off::after{
                content: "";
                bottom: -5px;
                left: 0;
                position: absolute;
                border-width: 0 20px 5px;
                border-style: solid;
                border-color: transparent #f4cc27 transparent #f4cc27;
            }
        }
        .home-product-item:hover{
            box-shadow: 0 0.0625rem 20px 0 rgba(0, 0, 0, 0.05);
            transform: translateY(-1px);
        }
    
    }
    .home-product__paginate{
        margin: 48px 0 32px 0;
    }
}
.footer{
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;
    background-color: var(--white-color);

    .footer__heading{
        font-size: 1.4rem;
        color: var(--text-color);
    }
    .footer__list{
        padding-left: 0;
        list-style: none;

        .footer-item{

            .footer-item-link{
                text-decoration: none;
                color: var(--text-color);
                display: flex;
                font-size: 1.3rem;
                padding: 4px 0;
                align-items: center;

                .footer-item-icon{
                    font-size: 1.6rem;
                    margin-top: -1px;
                    margin-right: 4px;
                }
            }
            .footer-item-link:hover{
                color: var(--primary-color);
            }
        }
    }
    .footer__download{
        display: flex;

        .footer__download-qr{
            width: 80px;
            height: 80px;
            border: 1px solid var(--border-color);
        }
        .footer__download-apps{
           flex: 1;
           margin-left: 16px;
           display: flex;
           flex-direction: column;
           justify-content: center;

           .footer-apps-img{
            height: 16px;
           
           }
        }
    }
    .footer__end{
        background-color: #f5f5f5;
        padding: 12px 0 12px 0;
        text-align: center;
        font-size: 1.4rem;
        color: var(--text-color);
    }
    .footer__copyright{

    }
}