.main .header {
  font-size: 1.6rem;
  width: 1200px;
  margin: auto; }
  .main .header .grid {
    height: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .main .header .grid .header__left {
      height: 50px;
      display: flex; }
    .main .header .grid .header__left p {
      margin: 8% auto;
      font-size: 2.1rem; }
    .main .header .grid .header__right-help {
      text-decoration: none;
      color: red; }
.main .body .body__background-img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top: 6px solid #ffffff; }

/*# sourceMappingURL=create.css.map */
